* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 252, 252, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(190, 214, 99, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

.calculator {
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
}

input {
    color: white;
    cursor: pointer;
    text-align: right;
    font-size: 35px;
    width: 320px;
    padding: 15px;
    margin: 10px;
    background: transparent;
    border-radius: 10px;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(36, 35, 35);
}                               

.equalBtn {
    color: white;
    background-color: #fb7c14;
}

.operator {
    background-color: rgb(14, 139, 12);
}

@media (max-width: 768px) {
    .calculator {
        padding: 5px;
    }
    input {
        width: 269px;
        padding: 7px;
    }
    button {
        height: 55px;
        width: 55px;
        margin: 7px;
    }
}

